*{
    margin: 0;
    padding: 0;
  }
  
  .container-tecns {
    position: relative;
    margin: 20px 20px 40px 20px;
  }
  
  .title {
    margin-top: 20;
    font-size: 35px;
    color: #242424;
    
  }
  
  .title-container h2 {
    font-weight: bolder;
    margin: 20px;
  }
  
  .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .title-container img {
    width: 40px;
    margin-left: 10px;
  }
  
  .tecns-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 1rem;
  }
  
  .tecns {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2rem;
    margin: 0px;
  }
  
  .tecn-card {
    background: #2b2b2bf8;
    border: 0.1rem solid #a3a3a3;
    border-radius: 2rem;
    padding: 2rem;
    flex-grow: 1;
    flex-basis: 500px;
    height: 280px;
  }
  
  .title-tecns {
    font-weight: bolder;
    font-size: 30px;
    color: #fff;
  }
  
  .desc {
    font-size: 17px;
    color: #fff;
  }